
body{
    background: url('https://images.alphacoders.com/924/thumb-1920-924468.jpg');
    background-size: cover;
    background-position-y: -80px;
};
#wrapper{
    min-height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
};
